.noPadding {
  padding: 0;
}
body {
  background: #e6e6e6;
}
.container {
  background: #e6e6e6;
}
.single-item {
  height: 320px;
  border: 1px solid silver;
  box-shadow: 0 0 5px gray;
  margin-top: 10px;
  margin-bottom: 20px;
}
.top {
  background: maroon;
  height: 200px;
}
.top img {
  width: 100%;
  height: 100%;
}

.bottom {
  height: 120px;
}
.item-title {
  color: maroon;
  margin: 0;
  padding-top: 10px;
  margin-left: 10px;
}
.cutted-price {
  font-size: 20px;
  margin-right: 10px;
}
.discounted-price {
  font-size: 20px;
  margin-right: 10px;
  color: maroon;
  font-style: italic;
}
.pp-title {
  font-size: 40px;
}
.pp-desc-head {
  font-size: 25px;
  text-decoration: underline;
}
.pp-desc-detail {

}
.pp-desc-detail p {
  font-size: 20px;
}
.pp-desc-detail ul {
  margin-top: 20px;
}
.pp-desc-detail ul li{
   font-size: 20px;
   margin-top: 10px;
}
